ACCESS_SECRET_KEY=your_access_secret_key
ALLOWED_HOSTS=localhost:8000
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name
EMAIL_FROM=no-reply@example.com
EMAIL_PASS=your_email_password
EMAIL_USER=your_email_user@example.com
ENABLE_SENTIMENT_AUDIT=true
FRONTEND_URL=http://localhost:5173
GEMINI_API_KEY=your_gemini_api_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
JWT_SECRET=your_jwt_secret
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:5173/auth/linkedin/callback
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_HOST=https://your-index-name.svc.environment.pinecone.io
PINECONE_INDEX=your_pinecone_index
PORT=3435
REFRESH_SECRET_KEY=your_refresh_secret_key
RESEND_API_KEY=your_resend_api_key
STRIPE_PRIVATE_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
